:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --logo-font: my-cool-font;
    --large-fluid-font: calc(1rem + 3vw);
    --mobile-label-font-size: 1rem;
    --desktop-label-font-size: 1.5rem;
--input-background-color: rgba(26	34	40	);
--input-font-color: rgb(81	110	171	);

}
@font-face {
    font-family: my-cool-font;
    src: url(./Norse-Bold.otf);
}
* {
    padding: 0;
margin: 0;
box-sizing: border-box;
}
html {
    background-color: var(--darkreader-neutral-background);
    color: var(--darkreader-neutral-text);
font-family: roboto;


}
body {
    height: 100vh;
    

}
.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border: 20px solid white; */

}
.sidebar-container {
    position: relative;
min-width: 33vw;
    height:  100%;
    background: url(./nick-iliasov-i0fCUofGjV8-unsplash.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.logo {
    color: var(--darkreader-neutral-text);
font-size: var(--large-fluid-font);
font-family: var(--logo-font);
position: absolute;
top: 150px;
background-color: rgba(0, 0, 0, 0.6);
padding: 0.7em 1em;
}

.form-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

label {
    text-transform: uppercase;
    
}
input {
    appearance: initial;
    border: none;
    outline: none;

    background-color: var(--input-background-color);
    color: var(--input-font-color);
opacity: 1;

}
input::placeholder {
    color: var(--input-font-color);
    opacity: 0.7;
}
input:focus {
    border: 3px solid;
    }
input[type='password']:focus:invalid {
    border: 2px solid green;
}




.form-button button {
outline: none;
border: none;
color: var(--input-font-color);
    background-color: var(--input-background-color)
}





@media (max-width: 600px) {
form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid yellowgreen;
        flex-direction: column;
flex-wrap: wrap;
}
.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    
}
label {
    order: -1;
    margin-bottom: 5px;
    font-size: var(--mobile-label-font-size);
}

input {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;

}

.form-button {
padding: 40px 0 20px 0;
width: 40%;
height: 100px;
}
.form-button button {
    width: 100%;
    height: 100%;
}

}

@media (min-width: 600px) {
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 10px solid blue;
        
        flex-direction: column;
    flex-wrap: wrap;
    }
    
.form-group-container {
    display: flex;
    flex-direction: row;
justify-content: flex-start;
    align-items: center;
    padding: 20px 40px;
    width: 80%; 
    column-gap: 80px;
    
}
.form-group {
    display: flex;
    flex-direction: column;
    
        }

label {
        order: -1;
        margin-bottom: 5px;
        font-size: var(--desktop-label-font-size);

    }
    
    input {
        width: 100%;
        height: 40px;
        font-size: 1.7rem;
        font-weight: bold;
        
    
    }

    .form-button {
        padding: 40px 0 20px 0;
        width: 40%;
        height: 100px;
        }
        .form-button button {
            width: 100%;
            height: 100%;
        }
    
}